.app__sevice {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-services);
    text-align: right;
}
.app__service-img {
    height: 540px;
    width: 610px;
    margin-left: -3.5rem;
    margin-top: 4rem;
}
.app__service-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.app__service-desc {
    margin-right: 4rem;
    margin-bottom: 3.5rem;
}